.best-container {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.best-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: var();
}

.best-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 0px 5%;
}

.best-card{
  background: #8a8a8a;
  padding: 35px 25px;
  width: 100%;
  min-height: 300px;
  border-radius: 12px;
  color: white;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s  ease-in-out;
}

.best-card .overlay{
  width: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.068);
  padding: 5% 5% 15% 5%;
}
.best-main {
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
  transition: transform 0.3s  ease-in-out;
}
.best-card:hover .best-main{
  transform: scale(1.1);
  transition: transform 0.3s  ease-in-out;
}

.best-sub {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 5px;
}

.best-desc {
  font-size: 1.1rem;
  opacity: 0.9;
  color: var(--color-white);
}
