.single-container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  background-color: var(  --color-background);
}
.wrapper{
  width: 70%;
}
.backBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  font-size: 1rem;
  color: var(  --color-text-light);
  text-transform: capitalize;
  font-weight: 500;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 1px var(--color-text-dark);
  border-radius: var(--border-radius);
  margin: 0px 0px 15px 0px;
}
.wrap{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(  --color-white);
  box-shadow: 0px  2px 10px rgb(229, 229, 229) ;
  border-radius: var(--border-radius);
  gap: 40px;
  padding: 40px 20px;
}
.banner{
  width: 40%;
  border: 1px solid red;
  min-height: 300px;
  border-radius: var(--border-radius);
  background-color: var(--color-text-dark);
}
.product-info h1{
  font-size: 2.5rem;
  color: var(--color-text-dark);
  margin: 0px 0px 15px 0px;
}
.product-info h4{
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.product-info h3{
  font-size: 1.1rem;
  margin: 0px 0px 10px 0px;
}
.product-info p{
  margin: 0px 0px 30px 0px;
}
.product-info ul{
  list-style: none;
  margin: 0px 0px 30px 0px;
}
.product-info ul li{
  font-size: 1rem;
  color: var(--color-text-light);
  margin: 0px 0px 10px 0px;
}
.product-info button{
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  background-color: var(  --color-primary);
  color: var(  --color-white);
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border-radius: var(--border-radius);
}