.footer {
  background-color: var( --color-text-dark);
  color: #dce1e8;
  padding: 40px 30px;
  margin-top: 40px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 180px;
}

.footer-logo {
  color: #f7c843;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-text {
  line-height: 1.5;
  font-size: 14px;
  color: var(  --color-background);
}

/* Headings */
.footer-col h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Links */
.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #b8c1cd;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #f7c843;
}

/* Divider */
.footer-divider {
  border: none;
  border-top: 1px solid #455168;
  margin: 25px 0;
}

/* Copyright */
.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #9aa3b1;
}

@media (max-width: 992px) {
  .footer {
    padding: 35px 25px;
  }

  .footer-inner {
    gap: 30px;
  }

  .footer-col h3 {
    font-size: 15px;
  }
}

/* Mobile landscape / Large phones */
@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    gap: 25px;
  }

  .footer-col {
    min-width: 100%;
  }

  .footer-col h3 {
    font-size: 16px;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-text,
  .footer-copy {
    font-size: 13px;
  }

  .footer-col h3 {
    font-size: 15px;
  }
}