.navbar{
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 5px 5%;
  box-shadow: var(--shadow-md);
}
.nav-inner{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
    font-weight: 800;
    color: var(--color-primary);
    cursor: pointer;
}
.logo h1{
  font-size: 1.5rem;
}
.navListCon{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.navListCon li {
  display: inline-block;
}
.navListCon li a{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}
.navListCon li a:hover{
  color: var( --color-primary);
}
.auth {
  display: flex;
  align-items: center;
  gap: 30px;
}
.auth .authLink:nth-child(1){
  color: var(--color-text-light);
  position: relative;
}
.auth .authLink:nth-child(1) span{
  position: absolute;
  content: '';
  top: -5px;
  right: -5px;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  color: var(  --color-primary-light);
  font-size: 0.7rem;
}
.auth .authLink:nth-child(2){
  padding: 10px 15px;
  background-color: var( --color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-primary-light);
  text-transform: capitalize;
  border-radius: 10px;
  text-decoration: none;
}
.userAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --color-primary);
  color: var(--color-white);
  cursor: pointer;
  position: relative;
}

.userDropDown{
  position: absolute;
  content: '';
  box-shadow: 0px  2px 10px rgb(229, 229, 229) ;
  top: 140%;
  right: 0%;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.userDropDown p{
  color: var(--color-text-dark);
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}
.userDropDown span{
  color: var( --color-text-light);
  display: block;
  margin: 0px 0px 20px 0px;
  font-size: 1rem;
  font-weight: 500;
}
.ordhis{
  display: block;
  width: 100%;
  background-color: var(--color-background);
  margin: 10px 0px;
  padding: 8px 5px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.139);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  color: var(--color-primary);
  cursor: pointer;
}
.userDropDown .logout-btn{
  padding: 8px 5px;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.userDropDown .logout-btn:hover{
  background-color: var(--color-primary-dark);
}