.products-container {
  width: 100%;
  padding: 40px 10%;
}

.products-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0d1b2a;
}

/* Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  justify-content: center;
}
.products-grid a{
  text-decoration: none;
}

/* Product Card */
.product-card {
  width: 100%;
  background: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Top Half */
.product-top {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.product-top h1 {
  font-size: 2.5rem;
  color: #3a3a3a;
}

/* Bottom Section */
.product-bottom {
  padding: 20px;
  background: #fff;
}

.product-bottom h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(  --color-text-dark);
  font-weight: 700;
}

.category {
  font-size: 1.1rem;
  color: var(  --color-text-light);
  margin-bottom: 15px;
  font-weight: 500;
}

/* Footer Row */
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Price */
.price {
  font-size: 1.15rem;
  font-weight: 700;
  color: var( --color-primary);
}

/* Add to Cart Button */
.cart-btn {
  background: var( --color-primary);
  color: var(  --color-white);
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.cart-btn:hover {
  background: var(  --color-primary-dark);
}
