.products-container {
  width: 100%;
  padding: 40px 5%;
}

.products-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0d1b2a;
}

/* Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
   grid-auto-rows: 1fr;
  place-items: center;
  gap: 25px;
  justify-content: center;
}
.products-grid a{
  text-decoration: none;
}

/* Product Card */
.product-card {
  width: 100%;
  background: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Top Half */
.product-top {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  position: relative;
}

.product-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Bottom Section */
.product-bottom {
  padding: 20px;
  background: #fff;
}

.product-bottom h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(  --color-text-dark);
  font-weight: 700;
}

.category {
  font-size: 1.1rem;
  color: var(  --color-text-light);
  margin-bottom: 15px;
  font-weight: 500;
}

/* Footer Row */
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Price */
.price {
  font-size: 1.15rem;
  font-weight: 700;
  color: var( --color-primary);
}

/* Add to Cart Button */
.cart-btn {
  background: var( --color-primary);
  color: var(  --color-white);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.cart-btn:hover {
  background: var(  --color-primary-dark);
}
@media (max-width: 992px) {
  .products-container {
    padding: 30px 7%;
  }

  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .product-bottom h3 {
    font-size: 1.3rem;
  }

  .category {
    font-size: 1rem;
  }

  .price {
    font-size: 1.05rem;
  }
}

/* Mobile landscape / large phones */
@media (max-width: 780px) {
  .products-container {
    padding: 25px 5%;
  }

  .products-grid {
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
  }

  .product-top {
    height: 160px;
  }

  .product-bottom h3 {
    font-size: 1.2rem;
  }

  .category {
    font-size: 0.95rem;
  }

  .price {
    font-size: 1rem;
  }

  .cart-btn {
    padding: 8px 12px;
    font-size: 0.95rem;
  }
}

/* Small Phones */
@media (max-width: 600px) {
  .products-container {
    padding: 20px 3%;
  }
  
  .products-grid {
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }
  .product-top {
    height: 140px;
  }

  .product-bottom h3 {
    font-size: 1.1rem;
  }

  .category {
    font-size: 0.9rem;
  }

  .price {
    font-size: 0.95rem;
  }

  .cart-btn {
    padding: 7px 10px;
    font-size: 0.9rem;
  }
}